In [15]:
import os
import geopandas as geopd

FILE_PATH = '/home/me/workspace/det_remota/trabalho_final/data/qgis_outputs/training_data.shp'

training_gdf = geopd.read_file(FILE_PATH)
training_gdf

       id           lulc                                           geometry
0     5.0  non_vegetated  POLYGON ((-7018419.431 -1106262.283, -7017899....
1     5.0  non_vegetated  POLYGON ((-7048902.679 -1085694.396, -7048625....
2     3.0         forest  POLYGON ((-7045616.038 -1086614.232, -7045207....
3     3.0         forest  POLYGON ((-7046466.005 -1087857.829, -7046457....
4     3.0         forest  POLYGON ((-7030555.097 -1087524.358, -7028951....
...   ...            ...                                                ...
1258  NaN    aquaculture  POLYGON ((-7006339.81 -1094793.252, -7006339.8...
1259  NaN    aquaculture  POLYGON ((-7006469.403 -1094831.902, -7006465....
1260  NaN    aquaculture  POLYGON ((-7006650.139 -1094730.62, -7006653.7...
1261  NaN    aquaculture  POLYGON ((-7006654.938 -1094622.383, -7006656....
1262  NaN    aquaculture  POLYGON ((-7006659.101 -1094553.993, -7006659....

[1263 rows x 3 columns]

In [16]:
training_gdf["lulc"] = [
    'farming' if x == 'agriculture' else x
    for x in training_gdf["lulc"].values
]
training_gdf["lulc"] = [
    'non_vegetated' if x in ["urban", "mining", "exposed_soil"] else x
    for x in training_gdf["lulc"].values
]
training_gdf["lulc"] = [
    'aquaculture' if x in ["water_tank"] else x
    for x in training_gdf["lulc"].values
]
training_gdf["lulc"] = [
    'river_lake_ocean' if x in ["natural_water"] else x
    for x in training_gdf["lulc"].values
]

In [17]:
training_gdf.lulc.unique()

array(['non_vegetated', 'forest', 'river_lake_ocean', 'farming',
       'aquaculture'], dtype=object)

In [18]:
from shapely.geometry.polygon import Polygon

ALLOWED_LULC = [
    'aquaculture','river_lake_ocean',
    'forest', 'farming',
    'non_vegetated',
]


training_gdf = training_gdf.loc[
    [isinstance(x, Polygon) for x in training_gdf.geometry.values],
    :
]
training_gdf = training_gdf.loc[
    [x in ALLOWED_LULC for x in training_gdf.lulc.values],
    :
]
training_gdf["id"] = [
    ALLOWED_LULC.index(x)+1
    for x in training_gdf.lulc
]


training_gdf

      id           lulc                                           geometry
0      5  non_vegetated  POLYGON ((-7018419.431 -1106262.283, -7017899....
1      5  non_vegetated  POLYGON ((-7048902.679 -1085694.396, -7048625....
2      3         forest  POLYGON ((-7045616.038 -1086614.232, -7045207....
3      3         forest  POLYGON ((-7046466.005 -1087857.829, -7046457....
4      3         forest  POLYGON ((-7030555.097 -1087524.358, -7028951....
...   ..            ...                                                ...
1258   1    aquaculture  POLYGON ((-7006339.81 -1094793.252, -7006339.8...
1259   1    aquaculture  POLYGON ((-7006469.403 -1094831.902, -7006465....
1260   1    aquaculture  POLYGON ((-7006650.139 -1094730.62, -7006653.7...
1261   1    aquaculture  POLYGON ((-7006654.938 -1094622.383, -7006656....
1262   1    aquaculture  POLYGON ((-7006659.101 -1094553.993, -7006659....

[1263 rows x 3 columns]

In [19]:
training_gdf.id.unique()

array([5, 3, 2, 4, 1])

In [20]:
training_gdf.lulc.unique()

array(['non_vegetated', 'forest', 'river_lake_ocean', 'farming',
       'aquaculture'], dtype=object)

In [21]:
training_gdf.to_file(FILE_PATH)